---
import Heading from '@/components/Heading.astro';
import { buttonVariants } from '@/components/ui/button';
import type { LanguageCode } from '@/i18n/ui';
import { cn } from '@/lib/utils';
import { Calendar } from 'lucide-react';

import { ContactForm } from '../components/ContactForm.tsx';
import type { ContactFormTranslations } from '../type';

interface Props {
  lang: LanguageCode;
  mainHeadingTitle: string;
  mainHeadingDescription: string;
}

const {
  lang,
  mainHeadingTitle,
  mainHeadingDescription,
} = Astro.props;
---

<section class="py-12 md:py-16">
<Heading
title={mainHeadingTitle}
description={mainHeadingDescription}
showDivider={true}
className="flex flex-col items-center justify-center"
titleClassName="md:text-5xl"
/>
</section>
